asgiref
certifi
psycopg2
charset-normalizer
Django 
docopt
idna
Pillow
pipreqs
requests
sqlparse 
gunicorn
tzdata 
urllib3
yarg
whitenoise
nltk
numpy
channels[daphne]
python-dotenv
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.2.0+cpu
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.5.0+cpu