Django==4.1.5
nltk==3.7
numpy==1.23.5
python-dotenv==1.0.0
torch==1.12.1
asgiref
certifi
psycopg2
charset-normalizer 
docopt
idna
Pillow
requests
sqlparse 
gunicorn
tzdata 
urllib3
yarg
whitenoise
channels[daphne]