<!-- password_reset_email.html -->
{% load i18n %}
{% load static %}
{% autoescape off %}
<p>
    
</p>

<h6>
    Please click on the image below to reset your password
</h6>
<hr>
<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"><img src="{% static 'email-reset.png' %}" alt="Logo" style="width: 200px;"></a>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Or Click here if it does not work</a>
</p>

<p>
    If you didn't request this, please ignore this email and your password will remain unchanged.
</p>

<p>
    Thanks,
    The BinaryBendits team
</p>
<img src="{% static 'BinaBendits.png' %}">
{% endautoescape %}
