<!-- password_reset.html -->
{% extends 'global/dashboard-base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
  <h2>Password Reset Complete</h2>
  <p>Your password has been successfully reset.</p>
  <p>You can now log in using your new password.</p>

  <style>
      .sign-up{
        background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
        color:white;
        border:none;
        padding: 10px;
        border-radius:5px;
      }
  </style>
  <a href="{% url 'login' %}" class="sign-up w-100">Back to Sign In</a>
{% endblock %}