<section id="contact" class="contact">
    <div class="container position-relative aos-init aos-animate" data-aos="fade-up">

      <div class="row gy-4 d-flex justify-content-end">

        <div class="col-lg-5 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

          <div class="info-item d-flex">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h4>Location:</h4>
              <p>University of Mpumalanga, Mbombela Campus</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h4>Email:</h4>
              <p>binarybendits@gmail.com</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex">
            <i class="bi bi-phone flex-shrink-0"></i>
            <div>
              <h4>Call:</h4>
              <p>+27 72 307 4089</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="250">

          <form action="{% url 'contact-us' %}" method="post" role="form" >
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required=""></textarea>
            </div>
            <br>
            <button class="sign-up text-center"  style="width:100%%" type="submit">Send Message</button>
          </form>

        </div><!-- End Contact Form -->
      </div>
    </div>
  </section>