  <!-- ======= Hero Section ======= -->
  {% load static %}
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
        <div><img src="{% static 'BinaBendits-txt.png' %}" width="80%"></div>
        <h2 data-aos="fade-up">Is here to offer <span style="background-color: #e81cff;padding: 5px;border-radius: 10px;">#</span> Tech Solutions<span style="color: #e81cff;">.</span></h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>Introducing you a question asking platform that is powered by Artificial Inteligence</p>
          </blockquote>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
        
            {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}" style="background:linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );" class="btn-get-started">Go to Dashboard</a>
            {% else %}
            <a href="{% url 'login' %}" style="background:linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );" class="btn-get-started">Get Started</a>
            {% endif %}
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ"  class="glightbox btn-watch-video d-flex align-items-center"><i style="color: #40c9ff ;" class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>

        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->