    <!-- ======= Recent Blog Posts Section ======= -->
    {% load static %}
    <section id="recent-posts" class="recent-posts">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Top 4 Questions that have been asked</h2>
          </div>

          <style>
            .image-container {
              width: 200px;  /* Set the desired width */
              height: 200px; /* Set the desired height */
              overflow: hidden; /* Hide any overflow from the container */
            }
            
            .cropped-image {
              width: 100%; /* Make the image fill the entire container */
              height: 100%; /* Make the image fill the entire container */
              object-fit: cover; /* Crop the image to maintain aspect ratio */
            }
            
          </style>
          <div class="row gy-5">
   
            {% for query in top_queries %}    
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="post-box">
                <div class="image-container post-img">
                  
                  {% if query.user.profile_pic %}
                  <img src="{{query.user.profile_pic.url}}"  class="img-fluid" alt="">
                  {% else %}
                  <img src="{% static 'img/blog/chatbot.webp' %}" class="cropped-image img-fluid" alt="">
                  {% endif %}
                </div>
                <div class="meta">
                  <span style="text-transform:uppercase" class="post-date">{{query.pub_date}}</span>
                  <span class="post-author"> / {{query.user.get_short_name}}</span>
                </div>
                <h3 class="post-title">{{query.course.name}}</h3>
                <p>{{query.short_question}}</p>
                <a href="{% url 'login' %}" class="readmore stretched-link"><span>Have an Answer ?</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
            {% endfor %}
  


          </div>
        </div>
      </section><!-- End Recent Blog Posts Section -->