{% load static %}
<section id="team" class="team">
  <div class="container aos-init aos-animate" data-aos="fade-up">

    <div class="section-header">
      <h2>Our Team</h2>

    </div>

    <div class="row gy-4">
      <!-- Start Team member -->
      <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member">
          <div class="member-img">
            <img src="{% static 'web/assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Victor Mahluza</h4>
            <span>Chief Executive Officer</span>
          </div>
        </div>
      </div><!-- End Team Member -->
      <!-- Start Team member -->
      <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <div class="team-member">
          <div class="member-img">
            <img src="{% static 'web/assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Josette Mbuyamba</h4>
            <span>System Tester</span>
          </div>
        </div>
      </div><!-- End Team Member -->
      <!-- Start Team member -->
      <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
        <div class="team-member">
          <div class="member-img">
            <img src="{% static 'web/assets/img/team/team-3.jpg' %} " class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Suprise Selinda</h4>
            <span>Back-End Developer</span>
          </div>
        </div>
      </div><!-- End Team Member -->
      <!-- Start Team member -->
      <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
        <div class="team-member">
          <div class="member-img">
            <img src="{% static 'web/assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Mpumi Shabangu</h4>
            <span>Front-End Developer</span>
          </div>
        </div>
      </div><!-- End Team Member -->
    </div><br>
    <div class="row gy-4">
      <!-- Start Team member -->
      <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member">
          <div class="member-img">
            <img src="{% static 'web/assets/img/team/team-5.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Kenny Maile</h4>
            <span>Project Manangerr</span>
          </div>
        </div>
      </div><!-- End Team Member -->
      <!-- Start Team member -->
      <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <div class="team-member">
          <div class="member-img">
            <img src="{% static 'web/assets/img/team/team-6.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Thato Masiteng</h4>
            <span>System Analyst</span>
          </div>
        </div>
      </div><!-- End Team Member -->
      <!-- Start Team member -->
      <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
        <div class="team-member">
          <div class="member-img">
            <img src="{% static 'web/assets/img/team/team-7.jpg' %} " class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Siya Nconjane</h4>
            <span>Data Scientist</span>
          </div>
        </div>
      </div><!-- End Team Member -->
      <!-- Start Team member -->
      <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
        <div class="team-member">
          <div class="member-img">
            <img src="{% static 'web/assets/img/team/team-8.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Thobeka Malevu</h4>
            <span>UX/UI Designer</span>
          </div>
        </div>
      </div><!-- End Team Member -->
    </div><br>
    <div class="row gy-4">
      <!-- Start Team member -->
      <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member">
          <div class="member-img">
            <img src="{% static 'web/assets/img/team/team-9.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Sinead Swele</h4>
            <span>Secretary</span>
          </div>
        </div>
      </div><!-- End Team Member -->
  </div>
</section>