<!-- ======= Why Choose Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Why Choose Us</h2>
        </div>
        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

            <div class="col-xl-5 img-bg" style="background-image: url('static/web/assets/img/chatbot-ladnding.png')"></div>
            <div class="col-xl-7 slides  position-relative">

                <div class="slides-1 swiper">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="item">
                                <h3 class="mb-3">AI Tutoring System: Enhancing Learning with Intelligent Assistance</h3>
                                <h4 class="mb-3">Personalized Support and Community Interaction for Effective Education</h4>
                                <p>The AI Tutoring System revolutionizes traditional learning methods by leveraging artificial intelligence. Students receive personalized assistance through a chatbot, while the question asking forum fosters community interaction. With cutting-edge technology and a collaborative environment, learning becomes engaging, efficient, and tailored to individual needs.</p>
                            </div>
                        </div><!-- End slide item -->

                        <div class="swiper-slide">
                            <div class="item">
                                <h3 class="mb-3">Transforming Education: AI-Powered Tutoring System</h3>
                                <h4 class="mb-3">Empowering Students and Facilitating Knowledge Exchange</h4>
                                <p>The AI-powered tutoring system is reshaping education by empowering students with advanced tools. Through the chatbot, students receive intelligent support, while the question asking forum encourages knowledge exchange among peers. With this innovative approach, learning becomes interactive, dynamic, and fosters critical thinking.
                                </p>
                            </div>
                        </div><!-- End slide item -->

                        <div class="swiper-slide">
                            <div class="item">
                                <h3 class="mb-3">Enhance Learning Experiences: AI Tutoring System Unveiled</h3>
                                <h4 class="mb-3">Unleashing the Power of Artificial Intelligence in Education
                                </h4>
                                <p>Introducing the AI Tutoring System, a groundbreaking solution that revolutionizes learning. With its chatbot feature, students gain personalized guidance, while the question asking forum facilitates collaboration and problem-solving. Embracing the potential of AI, this system paves the way for transformative educational experiences.</p>
                            </div>
                        </div><!-- End slide item -->

                        <div class="swiper-slide">
                            <div class="item">
                                <h3 class="mb-3">Empowering Students: AI Tutoring System Redefines Education</h3>
                                <h4 class="mb-3"> Intelligent Support and Community Learning for Academic Success</h4>
                                <p>The AI Tutoring System empowers students by offering intelligent support through a chatbot. Additionally, the question asking forum fosters a community of learners, encouraging collaboration and knowledge sharing. By embracing this innovative platform, students embark on a journey of academic success and continuous growth.
                                </p>
                            </div>
                        </div><!-- End slide item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

        </div>

    </div>
</section><!-- End Why Choose Us Section -->