  <!-- ======= Footer ======= -->
  {% load static %}
  <footer id="footer" class="footer">
    <div class="footer-content">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="{% static 'BinaBendits.png' %}" alt="" srcset="">
              <img src="{% static 'BinaBendits-txt.png' %}" alt="" srcset="">
            </a>
       <p> This system aims to enhance learning experiences and provide support to students by leveraging artificial intelligence and the collective knowledge of the platform's users.</p>
       <br>     
       {% include './contact-media.html' %}
 
          </div>
          

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-dash"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-dash"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Find Us</h4>
            <p>
              CNR R40 AND D725 RDS NELSPRUIT 1201<br>
              MPUMALANGA<br>
              SOUTH AFRICA<br><br>
              <strong>Phone:</strong>+27723074089<br>
              <strong>Email:</strong> mahluzavictor@gmail.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span style="color:linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% )">BinaryBendits</span></strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End Footer --><!-- End Footer -->