{% load static %}
<style>
    .ps {
        --mdb-scrollbar-rail-x-y-transition-opacity-bg: background-color 0.2s linear, opacity 0.2s linear;
        --mdb-scrollbar-z-index: 1035;
        --mdb-scrollbar-rail-x-y-length: 0.9375rem;
        --mdb-scrollbar-rail-x-y-opacity: 0.6;
        --mdb-scrollbar-rail-x-y-hover-opacity: 0.9;
        --mdb-scrollbar-rail-x-y-bg-color: #eee;
        --mdb-scrollbar-rail-x-y-clicking: #999;
        --mdb-scrollbar-rail-x-y-clicking-length: 0.6875rem;
        --mdb-scrollbar-rail-x-transition-height-bg: background-color 0.2s linear, height 0.2s ease-in-out;
        --mdb-scrollbar-rail-y-transition-width-bg: background-color 0.2s linear, width 0.2s ease-in-out;
        --mdb-scrollbar-thumb-x-y-color: #aaa;
        --mdb-scrollbar-thumb-x-y-border-radius: 0.375rem;
        --mdb-scrollbar-thumb-x-y-length: 0.375rem;
        --mdb-scrollbar-thumb-x-y-position-length: 0.125rem;
        overflow: hidden !important;
        overflow-anchor: none;
        touch-action: auto;
    }

    .card-body1 {
        flex: 1 1 auto;
        padding: var(--mdb-card-spacer-y) var(--mdb-card-spacer-x);
        color: var(--mdb-card-color);
    }
</style>
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <!-- Reports -->
                <div class="col-12">
                    <div class="card">


                        <div class="filter">

                            <a class="icon" href="#" data-bs-toggle="dropdown">Filter<i
                                    class="bi bi-filter-left"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"
                                data-popper-placement="bottom-end"
                                style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 29.6px, 0px);">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Recent Questions <span> /Today</span></h5>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Post
                                Question</button><br>
                            <hr>
                            {% for query in questries %}
                            <div class="accordion accordion-flush" id="faq-group-{{ forloop.counter }}">

                                <!-- Start Question -->
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        {% if query.user.profile_pic %}

                                        <img src="{{query.user.profile_pic.url}}" alt="avatar 1" class="rounded-circle"
                                            style="width: 45px; height: 100%;">
                                        {% else %}
                                        <img src="{% static 'web/assets/img/team/chatbot.webp' %}" alt="avatar 1"
                                            class="rounded-circle" style="width: 45px; height: 100%;">
                                        {% endif %}

                                        <span>&nbsp {{query.user.get_full_name}}</span>
                                        &nbsp
                                        <a href="/dashboard/forum/query/up?q={{query.id}}" class="icon">
                                            <i class="bi bi-arrow-up-circle-fill text-primary"></i>
                                        </a>
                                        {% if query.votes < 0 %}
                                        <span class="text-danger">{{query.votes}}</span>
                                        {% elif query.votes == 0 %}
                                        <span class="text">{{query.votes}}</span>
                                        {% else %}
                                        <span class="text-success">+{{query.votes}}</span>
                                        {% endif %}
                                        <a href="/dashboard/forum/query/down?q={{query.id}}" class="icon">
                                            <i class="bi bi-arrow-down-circle-fill text-danger"></i>
                                        </a>&nbsp
                                        <span class="text-secodary">{{query.module.name}}</span>
                                        &nbsp

                                        <h2>
                                            <button class="accordion-button"
                                                data-bs-target="#faqsOne-{{ forloop.counter }}" type="button"
                                                data-bs-toggle="collapse" aria-expanded="true">
                                                <i class="bi bi-patch-question"></i>
                                                &nbsp;&nbsp;
                                                {{query.short_question}} ... ?
                                            </button>
                                        </h2>

                                        <hr>
                                    </div>
                                    <div id="faqsOne-{{ forloop.counter }}" class="accordion-collapse collapse"
                                        data-bs-parent="#faq-group-{{ forloop.counter }}" style="">
                                        <div class="accordion-body">
                                            {{query.question_text}}
                                            <hr>
                                            <h5>Answers</h5>
                                            {% for answer in query.answers.all %}
                                            <div class="card">
                                                <div class="card-header">
                                                    <div>
                                                        {% if answer.user.profile_pic %}

                                                        <img src="{{answer.user.profile_pic.url}}" alt="avatar 1" class="rounded-circle"
                                                            style="width: 45px; height: 100%;">
                                                        {% else %}
                                                        <img src="{% static 'web/assets/img/team/chatbot.webp' %}" alt="avatar 1"
                                                            class="rounded-circle" style="width: 45px; height: 100%;">
                                                        {% endif %}
                                                        <span>{{answer.user.get_full_name}}</span>
                                                        <a href="" class="icon">
                                                            <i class="bi bi-arrow-up-circle-fill text-primary"></i>

                                                        </a>
                                                        <span class="text-success">{{answer.votes}}</span> Votes
                                                        <a href="" class="icon">
                                                            <i class="bi bi-arrow-down-circle-fill text-danger"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="card-body">
                                                    <p>

                                                        {{answer.answer_text | safe}}
                                                    </p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>

                                        {% include "pages/forum/text-editor.html" %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}


                        </div>

                    </div>
                </div><!-- End Reports -->

            </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

            {% include "pages/forum/chatbot.html" %}
        </div><!-- End Recent Activity -->
    </div><!-- End Right side columns -->
    </div>
</section>
{% include 'pages/forum/ask-question.html' %}